*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  nav{
    background-color: #F8F8F7;
    padding: 1% 8%;
    position: sticky;
    top: 0;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 100px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #184C4F;
    font-size: 25px;
  }
  nav a:hover{
    background-color: #E94C2D;
    color: #fff;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #184C4F;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
    color: #fff;
    font-size: 30px;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
  
  /* Main */
  #main-img {
    max-width: 100%;
    height: auto;
  }
  @media screen and (max-width: 768px) {
    #main-img {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }

  /* ABOUT */
  .section-heading {
    text-align: left;
    color: #fff;
    font-size: 50px;
    padding-top: 7%;
  }
  .paragraph-about {
    margin-top: 2%;
    padding: 30px;
    line-height: 1.6;
    text-align: left;
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .background-about {
    background-image: url('/assets/images/image3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-left: 7%;
  }

  .content {
    max-width: 80%;
    padding: 20px;
  }

@media screen and (max-width: 768px) {
  .background-about {
    height: auto;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    }

  .section-heading{
    text-align: center;
  }
}
  /*SKILLS*/
  .background-skills {
    background-image: url('/assets/images/image9.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    padding-left: 7%;
  }
  .details-skills {
    display: flex;
    justify-content: center;
  }
  .skills-icons {
    width: 50px;
    height: 50px;
    padding-left: 14px;
    
  }

  .content-skills {
    max-width: 80%;
    padding-bottom: 5%;
  }

  .skills-heading {
    text-align: left;
    color: #fff;
    font-size: 50px;
    padding-top: 7%;
  }

@media screen and (max-width: 768px) {
  .background-skills {
    height: auto;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
  }

  .skills-heading{
    text-align: center;
    padding-top: 7%;
  }
  
  .paragraph-about {
    margin-bottom: 7%;
    padding: 10%;
    text-align: center;
  }
  .skills-icons {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
    
  /* MY WORKS */
  .background-myworks {
    background-image: url('/assets/images/image8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    padding-left: 7%;
  }

  .content-myworks {
    max-width: 80%;
    padding-bottom: 5%;
  }

  hr {
    margin: 5%;
  }

  .myworks-heading {
    text-align: left;
    color: #fff;
    font-size: 50px;
    padding-top: 7%;
  }

  .details-myworks {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
  .background-myworks {
    height: auto;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    }

  .myworks-heading{
    text-align: center;
    padding-top: 7%;
  }
}

  /*CONTACT*/
  .background-contact {
    background-color: #F8F8F7;
    display: flex;
    align-items: center;
    padding: 5% 20%;
  }
  #img-contact{
    display: flex;
  }
  .social-icons{
    width: 50px;
    height: 50px;
    padding-left: 14px;
  }
  .contact-content {
    display: flex;
    justify-content: space-between; 
  }
  .details-contact,
  .image-contact {
    flex: 1; 
  }
  .details-contact {
    padding: 20px;
    box-sizing: border-box;
  }
  
  .image-contact img {
    max-width: 100%; 
    display: block;
  }
  
  /*FOOTER*/
  .copyright {
    background-color: #184C4F;
    color: #fff;
    padding: 2%;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    .content, .content-skills, .content-myworks{
      max-width: 80%;
      padding: 0;
      margin: 0;
    }
  }
